<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select JSON File:</label>
        <input type="file" name="file" id="file" accept=".json" required />
    </div>
    <button type="submit" class="btn btn-primary">Import</button>
</form>